body{
    background-color: rgb(143, 143, 143);
}

div h1{
    width: 200px;
}


.poster{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.posterimg{
    width: 200px;
    height: 300px;
}

#poster1{
    background-color: rgb(112, 0, 0);
}

#poster2{
    background-color: rgb(112, 0, 0);
}

#poster3{
    background-color: rgb(112, 0, 0);
}